<template>
  <main>
    <div class="container">
      <b-loading :is-full-page="false" :active.sync="loading" :can-cancel="false"></b-loading>
      <advice-dialog
        :active.sync="dialog"
        :advice="editAdvice"
        @update:advice="updateAdvice"
      ></advice-dialog>
      <b-table
        :data="advices"
        default-sort=""
        >
        <template slot-scope="props">
          <b-table-column field="text" label="Текст" v-html="props.row.text">
          </b-table-column>
          <b-table-column field="date_to" label="До" width="150">
            {{ props.row.date_to }}
          </b-table-column>
          <b-table-column field="place" label="Место" width="80">
            {{ props.row.place }}
          </b-table-column>
          <b-table-column label="" width="90" v-if="signedIn" centered>
            <div class="field is-grouped">
              <button class="button is-warning is-small" @click="changeAdvice(props.row.id)">
                <b-icon icon="square-edit-outline" is-small></b-icon>
              </button>
              <button class="button is-danger is-small" @click="confirmDeleteAdvice(props.row.id)">
                <b-icon icon="delete" is-small></b-icon>
              </button>
            </div>
          </b-table-column>
        </template>
        <template slot="footer" v-if="signedIn">
          <div class="has-text-left">
            <button class="button is-success" @click="addAdvice()" v-if="signedIn">
              <b-icon icon="file-plus"></b-icon>
              <span>Добавить объявление</span>
            </button>
          </div>
        </template>
      </b-table>
    </div>
  </main>
</template>

<script>
import moment from 'moment'
import AdvicesService from '@/api/AdvicesService'
import AdviceDialog from '@/components/AdviceDialog'

const newAdvice = () => ({
  id: null,
  text: '',
  date_to: moment().format('YYYY-MM-DD'),
  place: 'both'
})

export default {
  components: {
    AdviceDialog
  },
  data () {
    return {
      advices: [],
      columns: [
        { field: 'id', label: 'ID', visible: false },
        { field: 'text', label: 'Текст' },
        { field: 'date_to', label: 'До', width: '150' },
        { field: 'place', label: 'Место', width: '80' }
      ],
      dialog: false,
      editAdvice: {},
      loading: false
    }
  },
  computed: {
    signedIn () {
      return !!this.$root.isSignedIn()
    }
  },
  async mounted () {
    this.loading = true
    this.advices = await AdvicesService.index()
    this.loading = false
  },
  methods: {
    showDialog (advice) {
      this.editAdvice = advice
      this.dialog = true
    },
    addAdvice () {
      this.showDialog(newAdvice())
    },
    changeAdvice (id) {
      const currAdvice = this.advices.find((itm) => itm.id === id)
      if (currAdvice) {
        this.showDialog(currAdvice)
      }
    },
    async confirmDeleteAdvice (id) {
      const advice = this.advices.find((itm) => itm.id === id)
      this.$dialog.confirm({
        title: 'Удалить объявление?',
        message: advice.text,
        cancelText: 'Отменить',
        confirmText: 'Удалить',
        type: 'is-danger',
        onConfirm: () => {
          this.deleteAdvice(id)
        }
      })
    },
    async deleteAdvice (id) {
      try {
        const adviceId = await AdvicesService.delete(id, this.$root.getToken())
        this.advices.splice(this.advices.findIndex((itm) => itm.id === adviceId), 1)
      } catch (err) {
        this.$root.showError(err.message)
      }
    },
    async updateAdvice (payload) {
      try {
        if (payload.id) {
          const advice = await AdvicesService.update(payload, this.$root.getToken())
          this.advices.splice(this.advices.findIndex(itm => itm.id === advice.id), 1, advice)
        } else {
          const advice = await AdvicesService.create(payload, this.$root.getToken())
          this.advices.push(advice)
        }
      } catch (err) {
        this.$root.showError(err.message)
      }
    }
  }
}
</script>
