<template>
  <div class="modal" :class="{'is-active':active}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Изменить объявление</p>
        <button class="delete" aria-label="close" @click.stop="closeDialog"></button>
      </header>
      <section class="modal-card-body">
        <b-field label="Текст">
          <b-input v-model="advice.text" maxlength="255" type="textarea"></b-input>
        </b-field>
        <div class="content" v-html="advice.text"></div>
        <b-field label="Показывать до">
          <b-datepicker
            inline
            v-model="adviceDateTo"
            :first-day-of-week="1"
            :month-names="['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь']"
            :day-names="['Вс','Пн','Вт','Ср','Чт','Пт','Сб']"
          >
          </b-datepicker>
        </b-field>
        <b-field label="Место">
          <div class="block">
            <b-checkbox
              v-model="advicePlace"
              native-value="index">
            Индекс</b-checkbox>
            <b-checkbox
              v-model="advicePlace"
              native-value="topic">
            Топик</b-checkbox>
          </div>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click.stop="saveAdvice">Сохранить</button>
        <button class="button" @click.stop="closeDialog">Отменить</button>
      </footer>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

function dateTo (date) {
  return new Date(date)
}

function place2arr (place) {
  if (!place) {
    return []
  } else if (place === 'both') {
    return ['index', 'topic']
  } else {
    return [place]
  }
}

function arr2place (arr) {
  if (arr.length > 1) {
    return 'both'
  } else {
    return arr[0]
  }
}

export default {
  name: 'AdviceDialog',
  props: {
    active: {
      type: Boolean,
      required: true
    },
    advice: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    editDateTo: '',
    editPlace: ''
  }),
  computed: {
    editMode () {
      return !!this.advice.id
    },
    adviceDateTo: {
      get () {
        return dateTo(this.editDateTo || this.advice.date_to)
      },
      set (value) {
        this.editDateTo = moment(value).format('YYYY-MM-DD')
      }
    },
    advicePlace: {
      get () {
        return place2arr(this.editPlace || this.advice.place)
      },
      set (value) {
        this.editPlace = arr2place(value)
      }
    }
  },
  methods: {
    saveAdvice () {
      const advice = {
        ...this.advice,
        date_to: this.editDateTo,
        place: this.editPlace
      }
      this.$emit('update:advice', advice)
      this.closeDialog()
    },
    closeDialog () {
      this.$emit('update:active', false)
    }
  }
}
</script>
