<template>
  <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="is-size-4">Рекламные строки</span>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control" v-if="!signedIn">
            <button class="button" @click.stop="signinDialog=true">Войти</button>
          </p>
          <p class="control" v-else>
            <button class="button" @click.stop="logout">Выйти</button>
          </p>
        </div>
      </div>
    </div>
    <signin-dialog :active.sync="signinDialog"></signin-dialog>
  </nav>
</template>

<script>
import SigninDialog from '@/components/SigninDialog'

export default {
  components: {
    SigninDialog
  },
  data: () => ({
    signinDialog: false
  }),
  computed: {
    signedIn () {
      return !!this.$root.isSignedIn()
    }
  },
  methods: {
    logout () {
      this.$root.clearUserToken()
    }
  }
}
</script>
