<template>
  <div class="modal" :class="{'is-active':active}">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
        <p class="modal-card-title">Вход</p>
      </header>
      <section class="modal-card-body">
        <b-field>
          <b-input v-model="username" placeholder="Пользователь" required expanded></b-input>
        </b-field>
        <b-field>
          <b-input v-model="password" type="password" placeholder="Пароль" required expanded></b-input>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click.stop="signin">Войти</button>
        <button class="button" @click.stop="closeDialog">Отменить</button>
      </footer>
    </div>
  </div>
</template>

<script>
import AuthService from '@/api/AuthService'

export default {
  props: {
    active: {
      type: Boolean,
      required: true
    }
  },
  data: () => ({
    username: '',
    password: ''
  }),
  methods: {
    async signin () {
      try {
        const { user, token } = await AuthService.signin(this.username, this.password)
        this.$root.storeUserToken(user, token)
        this.closeDialog()
      } catch (err) {
        this.$root.showError(err.message)
      }
    },
    closeDialog () {
      this.$emit('update:active', false)
    }
  }
}
</script>
