<template>
  <div id="app">
    <Navbar />
    <Advices />
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
import Advices from '@/components/Advices.vue'

export default {
  name: 'app',
  components: {
    Navbar,
    Advices
  }
}
</script>

<style lang="scss">

</style>
